[Desktop Entry]
Categories=Qt;KDE;System;
Comment=Displays information about hard disks and other storage devices
Exec=kdf -qwindowtitle %c
GenericName=KDiskFree
Icon=kdf
Name=View Disk Usage
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-StartupType=Multi
X-DocPath=kdf/index.html
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
