[Desktop Entry]
Categories=System;Filesystem;KDE;Qt;
Comment=Manage disks, partitions and file systems
Exec=partitionmanager
GenericName=KDE Partition Manager
Icon=partitionmanager
Keywords=partition;disk;
Name=Partition Editor
NoDisplay=false
Path=
SingleMainWindow=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
